<form action="#" method="post">
<p>タイトル<br>
<input type="text" name="name"></p>
<p>内容<br>
<textarea name="comment" cols="30" rows="10"></textarea></p>
</form>
<input type="button" onclick="location.href='/'" value="変更">
