<input type="button" onclick="location.href='/memo/new'" value="追加">
<ul>
  <% @memo_contents.each do|file| %>
    <li><a href="/memo/<%= file['id'] %>">
      <%= h file['title'] %>
    </a></li>
  <% end %>
</ul>
