<form action="/" method="post">
	<p><input type="text" name="title" placeholder="タイトル"></p>
	<p><textarea name="comment"placeholder="内容"></textarea></p>
	<input type="submit" onclick="location.href='/'" value="保存">
</form>
